@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #fafafa;
  padding: 20px;
  overflow: hidden;
}

main {
  padding: 20px;
}

#main-content {
  display: flex;
  flex-direction: column-reverse;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  color: white;
  background: #f9a109;
  border: none;
  border-radius: 5px;
}

.scores,
.add {
  padding: 20px;
}

span {
  color: #80485b;
}

ul {
  list-style: none;
  margin: 20px 0;
  border: 1px solid #f9a109;
  border-radius: 5px;
  max-height: 25rem;
  overflow: auto;
}

ul::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

ul::-webkit-scrollbar-track {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 10px;
}

li {
  width: 100%;
  padding: 10px 8px;
}

li:nth-child(even) {
  background: #f2f2f2;
  border-radius: 12px;
}

.scores div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

form button {
  align-self: flex-end;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #bdbdbd;
  margin-bottom: 10px;
  border-radius: 12px;
}

input:focus {
  outline: none;
  border: 2px solid #f9a109;
}

@media screen and (min-width: 600px) {
  #main-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  main {
    max-width: 800px;
    margin: 5rem auto;
    background-color: #fafafe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}
